In [1]:
import pandas as pd
from pandasql import sqldf
import openpyxl
import os

In [6]:
os.getcwd()

'\\\\pwedqfs01\\te\\02 EdQ DataView and TPDM\\New Pipeline Data\\scripts'

In [8]:
# read in AY 2021-2022
df_2122 = pd.read_csv("..\\data\\completer lists\\EDQ_COMB_COMP_2122_160623.csv")

In [9]:
df_2122.head()

,calstateEduPersonUID,Study Code,Last Name,First Name,Middle,DOB,System Letter Code,System ID Number,Campus ID Number,Campus Letter Code,Cohort Number,Evaluation Year,Program Type,Reporting Group,CBEST,Credential Code,Credential Program,Program Name,Content Code,compCohort
0,CCDA26649319124,329804,Kalinski,Breda,T,1990-02-05,CSU,1,8,LB,23,2023,T,3,NaN,S,X,NaN,PE,2021-2022
1,ABEB85079404958,330644,Climaco-Garcia,Xiomara,E,1989-07-10,CSU,1,11,NO,23,2023,T,3,NaN,S,P,Traditional,FLS,2021-2022
2,CCFE75208047459,330312,Kertnoi,Yanisa,NaN,1998-06-05,CSU,1,9,LA,23,2023,T,3,NaN,M,X,NaN,GS,2021-2022
3,EEAC46244467747,329461,Sesar,Zachary,NaN,1989-04-02,CSU,1,6,EB,23,2023,I,3,NaN,S,X,Single Subject: Art,ART,2021-2022
4,FFAA46450610415,331626,Harmer,Cheyanne,N,1990-04-22,CSU,1,15,SD,23,2023,T,3,NaN,M,P,STE MS 2042,GS,2021-2022

In [10]:
df_2122.columns

Index(['calstateEduPersonUID', 'Study Code', 'Last Name', 'First Name',
       'Middle', 'DOB', 'System Letter Code', 'System ID Number',
       'Campus ID Number', 'Campus Letter Code', 'Cohort Number',
       'Evaluation Year', 'Program Type', 'Reporting Group', 'CBEST',
       'Credential Code', 'Credential Program', 'Program Name', 'Content Code',
       'compCohort'],
      dtype='object')

In [11]:
len(df_2122.columns)

20

In [ ]:
# Of those, who completed?
# Match an enrollment record from the filtered down EPP first-time enrollment table.